body {

}

/*Sektion för trådar*/
.threadDiv {
    background-color: lightgray;
    width: 290px;
    margin-bottom:20px;
}

/*Sektion för kommentarer*/
.commentDiv {
    background-color: white;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:10px;
}

/*Starta-en-tråd-knapp*/
.commentButtons {
    position: relative;
    margin-bottom: -10px;
    margin-left: -5px;
    width: 130px;
    font-size:0.8em;
}

/*Svars-knapp i respektive tråd*/
.answerThreadLink {
    position: relative;
    margin-left: 250px;
    font-size:0.8em;
}

/*Tidskod-utskrift i kommentarsfält*/
.timecodeSpan {
    margin-top: 5px;
    margin-left: 5px;
    font-size:0.8em;
}

/*Alla divisioner som ska är centrerade */
.centerDiv, .AssignmentSuccess {
    width:27%;
    position:relative;
    margin-top:0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    display: block;
    padding: 15px;
    background-color: lightgray;
}

/*Föreläsningsdetaljer*/
#detailsSection {
    width: 300px;
    background-color: lightgray;
}

/*Sektion för videoklipp*/
#videoSection {
    width: 460px;
}

/*Sektion där kommentarstrådars sektioner ligger i*/
#commentsSection {
    width: 290px;
    margin-top: -30px;
    background-color: transparent;
    border: 1px solid lightgray;
    margin-top: 30px;
}

/*label med kommentarstext*/
#questionLabel {
    font-size: 1.2em;
    margin-top: -2px;
}

/*omslutande container på alla sidor*/
.mainContainer {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

/*alla divisioner*/
div {
    clear: both;
}

/*Länk för att skicka kommentar*/
.sendQuestLink {
    margin-top: 20px;
    font-size: 1.5em;
}

/*rubrik och ingress*/
.title {
    position: relative;
    margin-left: 40px;
    margin-top: 40px;
}

/*Tiel-text*/
.titleText {
    font-size: 2em;
}

/*Ingress-text*/
.subText {
    width: 300px;
}

